@tailwind base;
@tailwind components;
@tailwind utilities;

/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700;800;900&display=swap');

.nav-font {
	font-family: 'Roboto Slab', serif;
	font-weight: 100;
	font-size: 20px;
	text-transform: capitalize;
}

.banner1 {
	background-image: linear-gradient(#202f52, #135e68);
	height: 100vh;
	display: flex;
	justify-content: start;
	align-items: center;
}
